# Include all Python files in the yugiquery directory and its subdirectories
recursive-include yugiquery *.py

# Include files in the assets directory
recursive-include yugiquery/assets *

# Include the reports directory and its contents
recursive-include reports *.ipynb

# Documentation
prune docs

# Include specific configuration and documentation files
include setup.py
include requirements.txt
include README.md
include LICENSE
include MANIFEST.in
include *.md
include *.toml

# Exclude unnecessary files and directories
exclude .readthedocs.yaml
exclude .devcontainer.json
exclude _config.yml

# Exclude notebook checkpoints generated during testing
recursive-exclude yugiquery *.ipynb_checkpoints